@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Anton&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Anuphan:wght@100..700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: "ProximaNova, sans-serif";
  src: url("/fonts/ProximaNova-Regular.otf");
}

@theme {
  --color-black: #222123;
  --color-main-bg: #232224;
  --color-white: #ffffff;
  --color-dark-brown: #523122;
  --color-mid-brown: #a26833;
  --color-light-brown: #e3a458;
  --color-red-brown: #7f3b2d;
  --color-yellow-brown: #a26833;
  --color-milk-yellow: #e3d3bc;
  --color-red: #a02128;

  --color-milk: #FEF8DD;
  --color-dark-blue: #025da7;
  --font-anton: "Anton", sans-serif;
  --font-paragraph: "Antonio, sans-serif";
  --font-anuphan: "Anuphan", sans-serif;
}

html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #FEF8DD;
  color: #025DA7;
  font-family: "Antonio", sans-serif;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* IE 10+ */
}


body::-webkit-scrollbar {
  display: none; /* Chrome, Safari */
}

@layer utilities {
  .flex-center {
    @apply flex justify-center items-center;
  }
  .col-center {
    @apply flex flex-col justify-center items-center;
  }
  .abs-center {
    @apply absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2;
  }
  .general-title {
    @apply 2xl:text-[8.5rem] md:text-8xl text-5xl font-bold uppercase leading-[9vw] tracking-[-.35vw];
  }
}

@layer components {
  .paragraph-line {
    @apply text-nowrap overflow-hidden;
  }




  .flavor-section {
    @apply min-h-dvh bg-milk;

    .flavor-text-scroll {
      @apply rotate-[-3deg] md:translate-y-5 border-[.5vw] border-milk absolute z-10;
    }

    .first-text-split h1 {
      @apply md:text-center text-dark-brown;
    }

    .second-text-split h1 {
      @apply md:text-center;
    }

    .slider-wrapper {
      @apply lg:h-dvh min-h-dvh md:min-h-fit w-full mt-0 md:mt-20 xl:mt-0;

      .flavors {
        @apply h-full w-full flex md:flex-row flex-col items-center 2xl:gap-72 lg:gap-52 md:gap-24 gap-7 flex-nowrap;

        .drinks {
          @apply absolute left-1/2 -translate-x-1/2 bottom-0 md:h-full h-80;
        }

        .elements {
          @apply absolute md:top-0 md:bottom-auto bottom-10 w-full;
        }

        h1 {
          @apply absolute md:bottom-10 md:left-10 bottom-5 left-5 text-milk md:text-6xl text-3xl font-semibold uppercase tracking-tighter;
        }
      }
    }
  }



  .testimonials-section {

    .pin-box {
      @apply flex items-center justify-center w-full ps-52 absolute  bottom-[50vh];

      .vd-card {
        @apply w-56 md:w-96 shadow-md  flex-none rounded-2xl p-4 -ms-44 overflow-hidden 2xl:relative absolute border border-milk;
      }
    }


  }

  .footer-section {
    @apply 2xl:min-h-dvh overflow-hidden relative bg-[#222123];

    .social-btn {
      @apply border border-[#faeade33] md:size-[5vw] size-14 md:p-0 p-3 flex justify-center items-center rounded-full hover:bg-[#ffffff1a] transition-colors cursor-pointer;
    }

    input {
      @apply 2xl:text-4xl text-3xl placeholder:font-bold placeholder:tracking-tighter;
    }

    .copyright-box {
      @apply 2xl:absolute w-full md:px-10 px-5 py-7 bottom-0 text-milk opacity-50 md:text-lg font-paragraph flex gap-7 md:flex-row flex-col-reverse md:justify-between justify-center items-center;

      p {
        @apply text-center;
      }
    }
  }
}



.spin-circle {
  animation: spin 20s linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}